* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100%;
}

/*  Global Classes  */
.center {
    align-items: center;
    justify-content: center;
}

.flex {
    display: flex;
}

.stretch {
    width: 100%;
}

/* The titel */
.gameTitel {
    margin-top: 1rem;
    margin-bottom: 4rem;
}

/* System text  */
.systemTextCSS {
    margin: 0.5rem;
    font-size: large;
}

/*  Css for the start button and user input */
.startButton {
    margin-right: 0.2rem;
    margin-left: 0.2rem;
}
.inputDiv {
    position: fixed;
    bottom: 0;
 

    margin: 1.5rem 0 1.5rem 0;
}
.userInputStyle {
    width: 90%;
    height: 2rem;
    left: 0;
}
