* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    
}
/* background for the whole page */ 
body {
    background-color: rgb(53, 49, 49);
}

/*  Global Classes  */
.center {
    align-items: center;
    justify-content: center;
}
.flex {
    display: flex;
}
.stretch {
    width: 100%;
}
.fontColour {
    color: rgb(155, 95, 6);
}

/* The titel */
.gameTitel {
    margin-top: 3rem;
    margin-bottom: 4rem;
}

/* System text  */
.systemTextStyle {
    margin: 0.5rem 3rem;
    font-size: large;
}

/*  Css for the start button and user input */
.inputDiv {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.5rem 0 1.5rem 0;
}
.formStyle {
    width: 100%;
    margin: 0 1rem;
}
.startButton {
    margin-right: 0.2rem;
    margin-left: 1rem;
    height: 3.3rem;
    width: 8rem;

    border: 2px solid rgb(155, 95, 6);
    border-top: none;

    opacity: 70%;
    color: rgb(155, 95, 6);
    font-size: large;
    background-color: rgb(53, 49, 49);
}
.userInputStyle {
    width: 100%;
    height: 3rem;
    color: rgb(155, 95, 6);
    font-size: large;

    border: none;
    border-bottom: 0.1rem solid rgb(155, 95, 6);
    background-color: rgb(53, 49, 49);
}
.userInputStyle:focus {
    outline: none;
}
.submitButton {
    height: 3.3rem;
    width: 6rem;
    margin-left: 1rem;

    background-color: rgb(53, 49, 49);
    border: 2px solid rgb(155, 95, 6);
    border-top: none;
    opacity: 70%;
    color: rgb(155, 95, 6);
    font-size: large;
    
}
